body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.box {
  margin: auto;
  margin-top: 5%;
  width: 30%;
  border: 1px solid #ccc;
  padding: 20px;
}

a {
  color: #118aef;
  text-decoration: none;
  &:hover {
    color: #0a98d7!important
  }
}

.margin-0 {
  margin: 0 !important;
}

.errors {
  margin-top: 5px;
  background-color: #ffdddd!important;
  color: #000000;
  border: 1px solid #ccc!important;
  padding: 10px;
  .title {
    padding: 5px;
  }
}

